h1 {
  color: black;
  font-size: 50px;
  background: white;
  font-family: 'Rubik', sans-serif;
   text-align: center;
} 


h2 {
  color: orange;
  font-size: 38px;
  background: lightyellow;
 font-family: 'PT Sans Narrow', sans-serif;
 text-align: center;
} 

h3 {
  color: orange;
  font-size: 24px;
  font-family: 'PT Sans Narrow', sans-serif;
   text-align: center; 
} 

h4, h5 {
  color: orange;
  font-size: 52px;
  font-family: 'Amatic SC', cursive;
  text-align: center;
} 


ul {
  color: white;
  font-size: 22px;
  font-family: 'Zilla Slab', serif;
} 


.btn-pink {
  display: inline-block;
  color: white;
  background: orange;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  font-size: 40px
  font-weight: bold;
  font-family: 'Zilla Slab', serif;
}

.btn-pink:hover {
  color: white;
  font-family: 'Zilla Slab', serif;
  opacity: 0.8;
   font-size: 50px;
}

.cadre2 {
  background : grey;
  border: 3px solid white;
  margin: 50px 100px;
  padding: 30px 70px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px grey;

  
}

<a {
  color: white;
  font-size: 42px;
  font-family: 'Zilla Slab', serif;
  text-align: center;
} 

.cadre3 {
  background : lightyellow;
  border: 1px solid white;
  margin: 20px 20px;
  padding: 10px 50px;
  border-radius: 20px;
  box-shadow: 15px 15px 50px grey;
  text-align: center;
  font-size: 24px;

}

.my-btn {
  display: inline-block;
  color: white;
  background: orange;
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
}

.cadre0 {
  background: orange;
  width: 100%;
  display : flex;
  justify-content : space-between;
  align-items : center;
  font-size: 24px;
}

.ligne1 {
  height: 10px;
  width: 20%;
  background: grey;font-size: 24px;
  font-size: 14px;

}

.ligne2 {
  height: 10px;
  width: 20%;
  background: grey;
  font-size: 14px;
  font-size: 14px;
}

.ligne3 {
  height: 10px;
  width: 20%;
  background: grey;
  font-size: 14px;
  font-size: 14px;
}

.my-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FEFCEE;
  font-size: 24px;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.link {
  margin: 20px 40px;
  color: orange;
}

.link:hover {
  color: red;
}

body {
	background-color: white;
	font-family: arial;
	}

a< {
  display: inline-block;
  color: white;
  background: orange;
  margin: 60px;
  padding: 60px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 54px;
  text-align: center
}

.btn-pink {
  display: inline-block;
  color: white;
  background: purple;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: orange ;
  background: lightyellow; ;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 22px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  opacity: .7;
  background: lightyellow ;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: orange;
}

h3 {
background: lightyellow;
color: red;
font-size: 30px;
}

h2 {
	background color : lightyellow;
	color: orange;
	}

a< {
	color : red;
	font-size ; border-left-width;
	}